iso datetime: {{ "2024-03-15T14:07:09Z" | strftime "%Y-%m-%d %H:%M:%S" }}
weekday: {{ "2024-03-15T14:07:09Z" | strftime "%A" }}
month abbrev: {{ "2024-03-15T14:07:09Z" | strftime "%b" }}
day of year: {{ "2024-03-15T14:07:09Z" | strftime "%j" }}
epoch: {{ "2024-03-15T14:07:09Z" | strftime "%s" }}
timezone name: {{ "2024-03-15T14:07:09Z" | strftime "%Z" }}
timezone offset: {{ "2024-03-15T14:07:09Z" | strftime "%z" }}
date-only input: {{ "2024-03-15" | strftime "%Y/%m/%d" }}
unknown token pass-through: {{ "2024-03-15T14:07:09Z" | strftime "%Q" }}
literal percent: {{ "2024-03-15T14:07:09Z" | strftime "100%%" }}
