release-name: {{ .Release.Name }}
release-namespace: {{ .Release.Namespace }}
release-service: {{ .Release.Service }}
chart-name: {{ .Chart.Name }}
chart-version: {{ .Chart.Version }}
chart-apiversion: {{ .Chart.APIVersion }}
kube-major: {{ .Capabilities.KubeVersion.Major }}
kube-gitversion: {{ .Capabilities.KubeVersion.GitVersion }}
template-basepath: {{ .Template.BasePath }}
